[submodule "morphe-patches"]
	path = morphe-patches
	url = https://github.com/NexAlloy/morphe-patches
	branch = nexalloy
[submodule "morphe-patches-library"]
	path = morphe-patches-library
	url = https://github.com/NexAlloy/morphe-patches-library
	branch = nexalloy
