<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <queries>
        <package android:name="com.google.android.youtube" />
        <package android:name="com.google.android.apps.youtube.music" />
        <package android:name="com.reddit.frontpage" />
        <package android:name="com.google.android.apps.photos" />
        <package android:name="com.microblink.photomath" />
        <package android:name="com.instagram.android" />
        <package android:name="com.instagram.barcelona" />
        <package android:name="com.strava" />
        <package android:name="com.alltrails.alltrails" />
    </queries>

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MainTheme"
        tools:targetApi="31">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/app_description" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/scope" />

        <activity-alias
            android:name=".activity.SettingsActivityAlias"
            android:exported="true"
            android:targetActivity=".activity.SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".activity.SettingsActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:showForAllUsers="true"
            android:theme="@style/SettingsTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.AppPatchSettingsActivity"
            android:exported="false"
            android:parentActivityName=".activity.SettingsActivity"
            android:theme="@style/SettingsTheme" />
    </application>
</manifest>
